<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 
<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<!-- Set the page to the width of the device and set the zoon level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<title>Bootstrap Tutorial</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>

</style>
</head>


<body>
	<div class="container">

	<script type="text/javascript">

		$(document).ready(function(){

			var a = 0;
			var b = 0;


			//var socket = io.connect('http://103.37.200.133:4000')

		$('#clct').prop('disabled', true);
		$('#IMEI_NO').keyup(function() {
        if($(this).val() != '') {
           $('#clct').prop('disabled',false);
        }
        else
           $('#clct').prop('disabled',true);
     });


		/*function abcd(){
			alert("I am an alert box!");

		};*/
		$('#clct').on('click', function(){




		});


		$('#atch').on('click', function(){



		});



		});

	</script>
	

	<input type="text" id="IMEI_NO" placeholder="IMEI number" minlength="15" maxlength="15">
	<input type="text" id="REG_NO" placeholder="Registration number">
	<button id="clct" >collected</button>
    <button id="atch">attached</button>

   
	</div>

		
	




</body>	


 